<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <title>Express</title>
    </head>
    <body>
        <div class = "container">
            <div class = "box">
                <h1>Photo Information Finder</h1>
                <p>Upload the file here</p>
                <form action="/upload_pic" method="POST" style="font-family:product sans;" enctype="multipart/form-data">
                    <input type="file" name='pic'/>
                    <br>
                    <br>
                    <button type="submit" class="btn"> Find Info</button>
                </form>

                <div style="display:blocked">
                    <p>
                        File Name: <%  locals.original_name %> <br><br>
                        File Type: <%  locals.file_type %> <br><br>
                        File Size: <%  locals.file_size %> <br>
                    </p>
                </div>
            </div>


        </div>
    </body>
</html>