<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <title>Express</title>
    </head>
    <body>
        <div class = "container">
            <div class = "box">
                <h1>File Information Finder</h1>
                <h3>Upload your file here</h3>
                <form action="/upload_pic" method="POST" style="font-family:product sans;" enctype="multipart/form-data">
                    <input type="file" name='pic' class='btn'/>
                    <br>
                    <br>
                    <button type="submit" class="btn" style="margin-top:5px"> Find Information</button>
                </form>
                <% if(typeof original_name !== 'undefined' && file_type !== 'undefined' && file_size !== 'undefined' && file_extension !== 'undefined'){ %>
                <div class="info">
                        <b>FILE NAME:        </b><%=  original_name %> <br><br>
                        <b>FILE EXTENSION:   </b><%=  file_extension %> <br><br>
                        <b>FILE TYPE:        </b><%=  file_type %> <br><br>
                        <b>FILE SIZE:        </b><%=  file_size %> <br><br>
                <% } %>
                </div>
            </div>
        </div>
    </body>
</html>